@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");

.cart__noitems {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: black;
  height: 100vh;
}

.card-group {
    display: flex;
    align-items: center;
    justify-content: center!;
    margin: 2rem;
    flex-direction: column !important; 
}

.grand__total--font {
    font-weight: bold ;
    color: black ;
    position: absolute;
    width: 100vw;
    font-size: 1.5rem;
    text-align: center; 
}

.cart__noitems--header {
    font-family: "Audiowide", "cursive";
}