.order__confirmation--flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 40vh;
}



@media only screen and (max-width: 600px) and (orientation: portrait) {

  .order__confirmation--font {
    font-size: 1.6rem;
  }

  .order__confirmation--font3 {
    font-size: 1.1rem;
  }
  
}
