.card__body--text {
  color: black;
}

a:hover {
  text-decoration: none;
}

.card__witdh--property {
  width: 26rem;
}

@media only screen and (max-width: 900px) and (orientation: landscape) {
  .card__body--text-description {
    font-size: smaller;
  }
}

