
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

.custom__navbar {
    background-image: linear-gradient(to right, rgb(150, 19, 161) , rgb(21, 131, 221));
}


.custom__hover:link {
    color: rgba(255,255,255,0.4) ;
}

.custom__hover:hover{
    color: orange !important;
    font-weight: bolder;
}


.custom__navfont {
    font-family: 'Audiowide', cursive;
}

.custom__navfont--navbrand {
    font-family: 'Audiowide', cursive;
    font-size: large;
    margin-bottom: 0.49vh;
}

