.button__wrapper{
    display: flex;
    position: absolute;
    left: 50%;;
    top: 50%;
    justify-content: center;
    align-items: center;

}
.button__add-to-cart {
    position: absolute;
    top: 60%;
    left: calc(50% - 2rem);
    width: 8rem;
    height: 2rem;
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 0.3rem;
    background-color: rgb(150, 19, 161);
    color: white;
}

.button__add-to-cart--disabled {
    position: absolute;
    top: 60%;
    left: calc(50% - 2rem);
    width: 8rem;
    height: 2rem;
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 0.3rem;
}

.button__count {
    border: none;
    border-radius: 0.3rem;
    background-color: rgb(21, 131, 221);
}

.button__count--disabled {
    border: none;
    border-radius: 0.3rem;
    background-color: rgb(174, 178, 182);
}