@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');



.greet__style{
    position: absolute;
    font-family: 'Audiowide', cursive;
    top: 12vh;
    margin-left: 2vw;
    font-size: min(3.2vw,4vh);
    color: black;
}