/* @import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
*/

.card__grid--layout {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 10vh;
    align-items:center;
    justify-items: center;
    /* left: 5%; */
    
}

.card__single--layout {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-top: 10vh;
    align-items:center;
    justify-items: center;
}